@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ArenaNovaProject5.Web.Components.Layout.AuthorizedLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(ArenaNovaProject5.Web.Components.Layout.AuthorizedLayout)">
            <h1>Page not found</h1>
            <p>The page you requested does not exist.</p>
        </LayoutView>
    </NotFound>
</Router>
